{% extends "header.html" %}
{% block title %}True Crime Cases Links {% endblock %}
{% block content %}

<div class="container crime-list-template">
    <div class="grid page-content">
        <h1 class="title">True Crime page Links</h1>
        <ul class="tags_list">
            <li class="grid__item one-whole">
                <a class="capitalize" href="/truecrimecases">True Crime Case Profiles</a>
                <hr>
            </li>
            <li class="grid__item one-whole">
                <a class="capitalize" href="/tags">True Crime Tags</a>
                <hr>
            </li>
            <li class="grid__item one-whole">
                <a class="capitalize" href="/articles">True Crime Articles</a>
                <hr>
            </li>
            <li class="grid__item one-whole">
                <a class="capitalize" href="/podcasts">True Crime Case Podcats</a>
                <hr>
            </li>
        </ul>
    </div>
</div>
{% endblock %} 