
<form class="steps" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="">  
    <!-- USER INFORMATION FIELD SET --> 
    <fieldset>
        <div class="hs_info field hs-form-field">
            <h2 class="fs-title">Content Partner</h2>
            <label name="email">Email address</label>
            <input type="email" name="email" class="form-control" data-rule-required="true">

            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="hs_info field hs-form-field">
            <label name="partnership">What kind of partnership are you looking to establish with CrimeDoor?</label>
            <textarea rows="5" cols="100" class="form-control" id="info" name="partnership" data-rule-required="true"></textarea>

            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>

        <div class="hs_fname field hs-form-field">
            <label for="bussiness_type">What type of business are you in?</label>
            <select data-rule-required="true" class="form-control" name="bussiness_type">
                <option selected value="television">Television</option>
                <option value="newspaper">Newspaper</option>
                <option value="online_media">Online Media</option>
                <option value="marketing">Marketing</option>
                <option value="international">International</option>
            </select>
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="hs_fname field hs-form-field">
            <label for="prime_role">What is your primary role?</label>
            <select data-rule-required="true" class="form-control" name="prime_role">
                <option selected value="producer">Producer</option>
                <option value="distribution">Distribution</option>
                <option value="platform">Platform</option>
                <option value="decision maker">Decision Maker</option>
                <option value="influencer">Influencer</option>
                <option value="podcaster">Podcaster</option>
                <option value="plogger">Vlogger</option>
            </select>
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="hs_fname field hs-form-field">
            <label for="produce_content">How often do you produce content?</label>
            <select data-rule-required="true" class="form-control" name="produce_content">
                <option selected value="daily">Daily</option>
                <option value="twice a week">Twice a week</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="hs_fname field hs-form-field">
            <label for="location">Location?</label>
            <div class="radio">
                <input id="radio-1" value="usa" name="location" type="radio" checked>
                <label for="radio-1" class="radio-label">U.S.A</label>
            </div>
        
            <div class="radio hs_fname field hs-form-field">
                <input id="radio-2" value="international" name="location" type="radio">
                <label  for="radio-2" class="radio-label">International</label>
            </div>
        </div>

        <div class="hs_info field hs-form-field">
            <label name="profile">Is there a specific case or Profile that you are interested in partnering on?</label>
            <textarea rows="5" cols="100" class="form-control" id="profile" name="profile" data-rule-required="true"></textarea>

            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>

        <div class="hs_fname field hs-form-field">
            <label for="audience">What is your audience reach across all platforms?</label>
            <select data-rule-required="true" class="form-control" name="audience">
                <option selected value="0-500">0-500</option>
                <option value="501-50,000">501-50,000</option>
                <option value="50,001-500,000">50,001-500,000</option>
                <option value="500,001-2.5M">500,001-2.5M</option>
                <option value="2.5M-5M">2.5M-5M</option>
                <option value="5M-50M">5M-50M</option>
                <option value="50M+">50M+</option>
            </select>
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>

        <div class="hs_info field hs-form-field">
            <label name="chanel_link">Social Media Handle(s) or Channel links?</label>
            <textarea rows="5" cols="100" class="form-control" id="chanel_link" name="chanel_link" data-rule-required="true"></textarea>

            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>

      <!-- End Total Number of Constituents in Your Database Field -->
      <input type="button" data-page="1" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Type of Television Content</h2>
        <div class="field hs-form-field">
            <label for="question">Question</label>
            <div class="radio">
                <input id="radio-1" value="network" name="question" type="radio" checked>
                <label for="radio-1" class="radio-label">Network</label>
            </div>
        
            <div class="radio hs_fname field hs-form-field">
                <input id="radio-2" value="local" name="question" type="radio">
                <label  for="radio-2" class="radio-label">Local</label>
            </div>

            <div class="radio hs_fname field hs-form-field">
                <input id="radio-2" value="news" name="question" type="radio">
                <label  for="radio-2" class="radio-label">News</label>
            </div>

            <div class="radio hs_fname field hs-form-field">
                <input id="radio-2" value="serialized" name="question" type="radio">
                <label  for="radio-2" class="radio-label">Serialized</label>
            </div>

            <div class="radio hs_fname field hs-form-field">
                <input id="radio-2" value="streamer" name="question" type="radio">
                <label  for="radio-2" class="radio-label">Streamer</label>
            </div>
        </div>
        <input type="button" data-page="2" name="previous" class="previous action-button" value="Previous" />
        <input type="button" data-page="2" name="next" class="next action-button" value="Next" />
    </fieldset>
    <!-- ACQUISITION FIELD SET -->  
    <fieldset>
        <h2 class="fs-title">Contact Information</h2>
        <div class="hs_fname field hs-form-field">
            <label for="f_name">First Name</label>
            <input type="text" name="f_name" class="form-control" data-rule-required="true">
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="hs_fname field hs-form-field">
            <label for="l_name">Last Name</label>
            <input type="text" id="l_name" name="l_name" class="form-control" data-rule-required="true">
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>

        <div class="hs_fname field hs-form-field">
            <label for="company">Company</label>
            <input type="text" name="company" class="form-control" data-rule-required="true">
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="hs_fname field hs-form-field">
            <label for="department">Department</label>
            <input type="text" name="department" class="form-control" data-rule-required="true">
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="hs_fname field hs-form-field">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" data-rule-required="true">
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="hs_fname field hs-form-field">
            <label for="method">How would you prefer CrimeDoor contact you?</label>
            <div class="radio">
                <input id="radio-1" value="email" name="method" type="radio" checked>
                <label for="radio-1" class="radio-label">Email</label>
            </div>
        
            <div class="radio hs_fname field hs-form-field">
                <input id="radio-2" value="phone" name="method" type="radio">
                <label  for="radio-2" class="radio-label">Phone</label>
            </div>
        </div>
        <div class="hs_fname field hs-form-field">
            <label for="email">Email Address</label>
            <input type="email" name="email" class="form-control" data-rule-required="true">
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="hs_fname field hs-form-field">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" class="form-control" data-rule-required="true">
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
        <input type="button" data-page="3" name="previous" class="previous action-button" value="Previous" />
        <input type="button" data-page="3" name="next" class="next action-button" value="Next" />
    </fieldset>

    <fieldset>
        <div class="hs_info field hs-form-field">
            <h2 class="fs-title">Additional Information</h2>
            <label name="info">Is there any other information you would like to share with CrimeDoor?</label>
            <textarea rows="5" cols="100" class="form-control" id="info" name="info" data-rule-required="true"></textarea>

            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
        </div>
     
        <input type="button" data-page="4" name="previous" class="previous action-button" value="Previous" />
        <input type="button" data-page="4" name="next" class="next action-button" value="Next" />
    </fieldset>

    <fieldset>
        <h2 class="fs-title">Thank you for contacting CrimeDoor.</h2>
        <h3 class="fs-subtitle">A CrimeDoor team member will contact you shortly regarding your submission.</h3>
    </fieldset>
</form>

