<div class="main heading">
    <h1 class="title">Connect to the CrimeDoor Team</h1>
</div>

<div class="content">
    <div class="input-group">
        <div class="input-field">
            <label for="contact_questions">What would you like to discuss today?</label>
            <select class="contact_questions" class="form-control">
                <option></option>
                <option value="#suggestion">I have a profile suggestion</option>
                <option value="#correction">Information is incorrect in a Profile</option>
                <option value="#member">I am a family member or member of law enforcement</option>
                <option value="#inquiry">Press Inquiry</option>
                <option value="#content_profile">I'd like to be a content partner</option>
                <option value="#partner">I'd like to be a business partner</option>
                <option value="#hr">I'd like to work at CrimeDoor</option>
                <option value="#everything">Something else not on this list</option>
            </select>
        </div>
    </div>
</div>