
<div class="modal animated fadeIn" id="badgesModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Get the Free CrimeDoor App!</h5>
                <button type="button" class="close" data-id="#badgesModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="flex grid">
                    <div class="grid__item one-half">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.crimedoor.app">
                            <img style="width: 350px;"
                                src="/static/image/google play.webp"
                                alt="">
                        </a>
                    </div>
                    <div class="grid__item one-half">
                        <a target="_blank" href="https://apps.apple.com/us/app/crimedoor/id1529358461">
                            <img style="width: 350px;"
                                src="/static/image/app store.webp"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>