<div class="input-group">
    <div class="input-field">
        <label for="contact_questions">What would you like to discuss today?</label>
            <select class="contact_questions" class="form-control">
            <option value="">I have a profile suggestion</option>
            <option value="">Information is incorrect in a Profile</option>
            <option value="">I am a family member or member of law enforcement</option>
            <option value="">Press Inquiry</option>
            <option value="">I'd like to be a content partner</option>
            <option value="">I'd like to be a business partner</option>
            <option value="">I'd like to work at CrimeDoor</option>
            <option value="">Something else not on this list</option>
        </select>
    </div>
</div>