{% extends "header.html" %}
{% block title %}Tags:{{data.tag}}{% endblock %} 
{% block content %}

<div class="container crime-list-template">
    <div class="grid page-content">
        {% if data.profiles %}
        <h1 class="title capitalize">True Crime Case Profiles Tagged "{{data.tag}}"</h1>
        <ul class="profiles">
            
            {% for profile in data.profiles %}
                <li>
                    <div class="image">
                        {% if profile.img_url %}
                            <img src={{profile.img_url}}>
                        {% else %}
                            <img class="no-img" src="{{ url_for('static', filename='image/no-image.png') }}">
                        {% endif %}
                        
                    </div>
                    <div class="info">
                        <h1 class="title uppercase"><a href="/profile/{{profile.doc_id}}">{{profile.profile_name}}</a></h1>
                        <p>{{profile.profile_teaser}}</p>
                        <p class="tags">
                            Tags : 
                            {% if profile.tags %}
                                {% for tag in profile.tags %}
                                    <a href="/tags/{{tag|replace('/', '=') }}">{{tag}}</a>{% if loop.index < profile.count%}, {% endif %}
                                {% endfor %}  
                            {% endif %}
                        </p>
                        <p class="tags">{{profile.causeofdeath}} : {{profile.dateofcrime}}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>    
        {% else %}
            <h1 class="not-found">No available datas.</h1>
        {% endif %}
       
    </div>
</div>
{% endblock %} 